!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      You've been invited by #{@host.email} (#{@host.username}) to join a #{link_to "Killer Queen", "http://killerqueenarcade.com/"} team for #{link_to "Killer Queen Chicago", root_url}.
    %p
      Visit #{link_to "this link", new_user_registration_url}, to sign up now!
